<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Gestion_Bibliotheque</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gestion_Bibliotheque.styles.css" asp-append-version="true" />

</head>

<body>

    <div>

        <!-- SIDEBAR -->

        <div class="sidebar p-3">

            <h3 class="text-center mb-4">
                📚 Bibliothèque
            </h3>

            <ul class="nav flex-column">

                <li class="nav-item mb-2">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">
                        🏠 Dashboard
                    </a>
                </li>

                <li class="nav-item mb-2">
                    <a class="nav-link text-white" asp-controller="Livres" asp-action="Index">
                        📘 Livres
                    </a>
                </li>

                <li class="nav-item mb-2">
                    <a class="nav-link text-white"
                        asp-controller="Membres"
                        asp-action="Index">
                        👨‍🎓 Membres
                    </a>
                </li>

                <li class="nav-item mb-2">
                <a class="nav-link text-white"
                   asp-controller="Emprunts"
                   asp-action="Index">
                    🔄 Emprunts
                </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white"
                       asp-controller="Penalites"
                       asp-action="Index">
                        Pénalités
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white"
                       asp-controller="Abonnements"
                       asp-action="Index">
                        Abonnements
                    </a>
                </li>
               

            </ul>

        </div>

        <!-- CONTENU -->

        <div class="main-content">

            @RenderBody()

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>