@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">

    <h1 class="mb-4 fw-bold text-primary">
        Tableau de Bord
    </h1>

    <div class="row">

        <div class="col-md-3">

            <div class="card bg-primary text-white shadow mb-4">

                <div class="card-body">

                    <h5>Total Livres</h5>

                    <h2>@ViewBag.TotalLivres</h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card bg-success text-white shadow mb-4">

                <div class="card-body">

                    <h5>Disponibles</h5>

                    <h2>@ViewBag.Disponibles</h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card bg-danger text-white shadow mb-4">

                <div class="card-body">

                    <h5>Indisponibles</h5>

                    <h2>@ViewBag.Indisponibles</h2>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card bg-warning text-dark shadow mb-4">

                <div class="card-body">

                    <h5>Quantité Totale</h5>

                    <h2>@ViewBag.TotalQuantite</h2>

                </div>

            </div>

        </div>

    </div>

</div>