@model Gestion_Bibliotheque.Models.Penalite

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Penalite</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="date_penalite" class="control-label"></label>
                <input asp-for="date_penalite" class="form-control" />
                <span asp-validation-for="date_penalite" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="raison_penalite" class="control-label"></label>
                <input asp-for="raison_penalite" class="form-control" />
                <span asp-validation-for="raison_penalite" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="montant_penalite" class="control-label"></label>
                <input asp-for="montant_penalite" class="form-control" />
                <span asp-validation-for="montant_penalite" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="id_emprunt" class="control-label"></label>
                <input asp-for="id_emprunt" class="form-control" />
                <span asp-validation-for="id_emprunt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Emprunt" class="control-label"></label>
                <input asp-for="Emprunt" class="form-control" />
                <span asp-validation-for="Emprunt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
