@model Gestion_Bibliotheque.Models.Abonnement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Abonnement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_abonnement" />
            <div class="form-group">
                <label asp-for="date_debutabonnement" class="control-label"></label>
                <input asp-for="date_debutabonnement" class="form-control" />
                <span asp-validation-for="date_debutabonnement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type_abonnement" class="control-label"></label>
                <input asp-for="type_abonnement" class="form-control" />
                <span asp-validation-for="type_abonnement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_finabonnement" class="control-label"></label>
                <input asp-for="date_finabonnement" class="form-control" />
                <span asp-validation-for="date_finabonnement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_membres" class="control-label"></label>
                <input asp-for="id_membres" class="form-control" />
                <span asp-validation-for="id_membres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membre" class="control-label"></label>
                <input asp-for="Membre" class="form-control" />
                <span asp-validation-for="Membre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
